In [1]:
print("Welcome to school")
#________________________________
print("_________________________________________________")
print("Name    |    Age    |    Height    |    Score   |")
print("_________________________________________________")

abc = {"Samantha ": " 17          5.5            80 ", "Jada ": "     16          5.0            96", "Jane ": "     17          5.4            70", "Claire ": "   18          5.9            60",
      "Elizabeth ": "16          5.6            76", "Mary ": "     18          5.5            66", "Susan ": "    17          6.1            87", "Waje ": "     20          6.0            95","Jaibat ": "   19          5.7            50", "Lilian ": "   17          5.5            49", "Charles ": "  19          5.7            74 ", "Jude ": "     16          5.9            87", "James ": "    18          5.8            75", "Kelvin ": "   17          6.1            68",
      "Biodun ": "   20          5.9            66", "Wale ": "     19          5.5            78", "Kunle ": "    16          6.1            87", "Mathew ": "   18          5.4            98","Tom ": "      17          5.8            54", "Kayode ": "   19          5.7            60"}

for pick in abc:
    print(pick,abc[pick])

Welcome to school
_________________________________________________
Name    |    Age    |    Height    |    Score   |
_________________________________________________
Samantha   17          5.5            80
Jada       16          5.0            96
Jane       17          5.4            70
Claire     18          5.9            60
Elizabeth  16          5.6            76
Mary       18          5.5            66
Susan      17          6.1            87
Waje       20          6.0            95
Jaibat     19          5.7            50
Lilian     17          5.5            49
Charles    19          5.7            74
Jude       16          5.9            87
James      18          5.8            75
Kelvin     17          6.1            68
Biodun     20          5.9            66
Wale       19          5.5            78
Kunle      16          6.1            87
Mathew     18          5.4            98
Tom        17          5.8            54
Kayode     19          5.7            60