In [14]:
import pandas as pd 

nameofstud = input("Enter your name")
Matricnum = input("Enter MatricNumber")
dept = input("Enter Department")
Level = input("Enter level of study")

frog = {'Student Name':[nameofstud],
        'Matric. Number':[Matricnum],
        'Department':[dept],
        'Level':[Level]}
df = pd.DataFrame(frog)
df.to_csv('frog.csv')
df

Enter your nameAghachi David
Enter MatricNumber22120612798
Enter DepartmentComputer Science
Enter level of study100

     Student Name Matric. Number         Department Level
0  Aghachi David     22120612798  Computer Science    100

In [15]:
import pandas as pd 

Company_file = {'Company':['Enron', 'Anderson', 'GK Jones', 'Mica', 'Dune'],
               'Date of Origin':[1987, 1936, 2001, 1996, 2008], 
               'Companys Assets':['1,000,000', '1,500,000', '3,000,000', '250,000', '800,000'],
               'Companys Liabilities':['200,000', '500,000', '1,500,000', '50,000', '300,000'],
               'Percentage Leverages':[((1000000 - 200000) / 1000000) * 100, ((1500000 - 500000) / 1500000) * 100, ((3000000 - 1500000) / 3000000) * 100, ((250000 - 50000) / 250000) * 100, ((800000 - 300000) / 800000) * 100]}
df = pd.DataFrame(Company_file)
df.to_csv('Company_file.csv')
df

,Company,Date of Origin,Companys Assets,Companys Liabilities,Percentage Leverages
0,Enron,1987,"1,000,000","200,000",80.000000
1,Anderson,1936,"1,500,000","500,000",66.666667
2,GK Jones,2001,"3,000,000","1,500,000",50.000000
3,Mica,1996,"250,000","50,000",80.000000
4,Dune,2008,"800,000","300,000",62.500000