In [1]:
#Print the given sequence of numbers using for loop
count =  [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [2]:
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

In [5]:
entry = 0
sum1 = 0
print("Enter numbers to find their sum, negative number ends the loop: ")
while True:
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
print("Sum =", sum1)

Enter numbers to find their sum, negative number ends the loop:
0
2
3
3
2
-1
Sum = 10

In [7]:
num = 0
for num in range(6):
    num = num + 1
    if num == 6:
        continue
    print('Num has value ' + str(num))
print('End of loop')

Num has value 1
Num has value 2
Num has value 3
Num has value 4
Num has value 5
End of loop

In [10]:
for var1 in range(3):
    print( "Iteration " + str(var1 + 1) + " of outer loop ")
    for var2 in range(2):
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1 of outer loop
1
2
Out of inner loop
Iteration 2 of outer loop
1
2
Out of inner loop
Iteration 3 of outer loop
1
2
Out of inner loop
Out of outer loop

In [11]:
city_1 = input("Enter name of City 1: ")
city_2 = input("Enter name of City_2: ")

temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of City 1 after swapping is {city_1}")
print(f"The name of City 2 after swapping is {city_2}")

Enter name of City 1: we
Enter name of City_2: rt
The name of City 1 after swapping is rt
The name of City 2 after swapping is we

In [12]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 2
Positive number

In [20]:
print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba: ': 'Chubby Obiora-Okafo', 'Blue-Jays: ': 'Christopher Uweh', 'Cirok: ': 'Alexander', 'TSG Walkers: ': 'Ikechukwu'}

goalkeepers = {'Madiba: ': "Chubby Obiora-Okafo", 'Blue-Jays: ': 'Oladimeji Abaniwonda/Jeffery Awagu', "Cirok: ": 'Timileyin Pearse/Izuako Jeremy', 'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
    for pick in goalkeepers:
        print(pick,goalkeepers[pick]," ",captain[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Chubby Obiora-Okafo   Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwonda/Jeffery Awagu   Christopher Uweh
Cirok:  Timileyin Pearse/Izuako Jeremy   Alexander
TSG Walkers:  Ayomide Ojituku   Ikechukwu
Madiba:  Chubby Obiora-Okafo   Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwonda/Jeffery Awagu   Christopher Uweh
Cirok:  Timileyin Pearse/Izuako Jeremy   Alexander
TSG Walkers:  Ayomide Ojituku   Ikechukwu
Madiba:  Chubby Obiora-Okafo   Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwonda/Jeffery Awagu   Christopher Uweh
Cirok:  Timileyin Pearse/Izuako Jeremy   Alexander
TSG Walkers:  Ayomide Ojituku   Ikechukwu
Madiba:  Chubby Obiora-Okafo   Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwonda/Jeffery Awagu   Christopher Uweh
Cirok:  Timileyin Pearse/Izuako Jeremy   Alexander
TSG Walkers:  Ayomide Ojituku   Ikechukwu

Welcome to school
_________________________________________________
Name    |    Age    |    Height    |    Score   |
_________________________________________________
Samantha   17          5.5            80
Jada       16          5.0            96
Jane       17          5.4            70
Claire     18          5.9            60
Elizabeth  16          5.6            76
Mary       18          5.5            66
Susan      17          6.1            87
Waje       20          6.0            95
Jaibat     19          5.7            50
Lilian     17          5.5            49
Charles    19          5.7            74
Jude       16          5.9            87
James      18          5.8            75
Kelvin     17          6.1            68
Biodun     20          5.9            66
Wale       19          5.5            78
Kunle      16          6.1            87
Mathew     18          5.4            98
Tom        17          5.8            54
Kayode     19          5.7            60

In [112]:
print("Welcome to school")
#________________________________
print("_________________________________________________")
print("Name    |    Age    |    Height    |    Score   |")
print("_________________________________________________")

abc = {"Charles ": "  19          5.7            74 ", "Jude ": "     16          5.9            87", "James ": "    18          5.8            75", "Kelvin ": "   17          6.1            68",
      "Biodun ": "   20          5.9            66", "Wale ": "     19          5.5            78", "Kunle ": "    16          6.1            87", "Mathew ": "   18          5.4            98","Tom ": "      17          5.8            54", "Kayode ": "   19          5.7            60"}
for pick in abc:
    print(pick,abc[pick])

Welcome to school
_________________________________________________
Name    |    Age    |    Height    |    Score   |
_________________________________________________
Charles    19          5.7            74
Jude       16          5.9            87
James      18          5.8            75
Kelvin     17          6.1            68
Biodun     20          5.9            66
Wale       19          5.5            78
Kunle      16          6.1            87
Mathew     18          5.4            98
Tom        17          5.8            54
Kayode     19          5.7            60